.DS_Store
**/.DS_Store
__pycache__/
.Rhistory
.Rapp.history 
analyses/learning_model_comparisons/model_fits/
analyses/learning_model_comparisons/crossval_data/
analyses/learning_model_comparisons/hierarchical_analysis/
analyses/learning_model_comparisons/preprocessed_data/*.csv
analyses/make_participant_videos/
analyses/p_true_analyses/stan_fits/
analyses/p_true_analyses/*.csv
analyses/NeurIPS_analyses/tmp_imgs/
models/
!paper_repo/data/models/
paper_repo/analysis/preprocessed_data/model_likelihoods/preprocessing/*.csv
paper_repo/analysis/preprocessed_data/model_likelihoods/monkey_training/preprocessing/*.csv
human_experiments/
individual_differences/
figs/videos/
*.rdsanalyses/monkeys/transformer/*.csv
*.ipynb_checkpoints
